@font-face {
  font-family:  Friz;
  src: url('../../assets/fonts/Friz.ttf') ;
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 20px;
  overflow-y: scroll;
}
.name {
  background-image: linear-gradient(to bottom, #C39156, #F5DA81, #C59E51);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;

  font-family: Friz, sans-serif; 
  color: transparent;
  font-size: 10rem;
}

.title {
  background-image: linear-gradient(to bottom, #BFC0C2, #C8C9CB, #F8F8F8, #B9BABE);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: capitalize;

  font-family: Friz, sans-serif; 
  color: transparent;
  font-size: 2rem;
}

.about {
  max-width: 900px;
  color: #000;
 

  font-family:  sans-serif; 
  line-height: 2;
  font-size: 1.2rem;
}
.containerAbout {
  background-image: linear-gradient(to bottom, #C39156, #F5DA81, #C59E51);
  border-radius: 5px;
  padding: 20px;
  height: auto;
} 

.button {
  padding: 15px 30px;
  background-color: #000;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  transition: .5s;
}
.button:hover {
  background-image: linear-gradient(to bottom, #C39156, #F5DA81, #C59E51);
  color: #000;
  border: 2px solid #000;
}
.back {
  position: absolute;
  left: 5%;
  top: 15%;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .name {
    font-size: 6rem;
    position: absolute;
    top: 30%;
    left: 20px;
  }
  .title {
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
    left: 20px;
  }
  .button {
    position: absolute;
    top: 54%;
    left: 0;
  }
  .about {
    font-size: 1rem;
    width: 100%;
  }
  .containerAbout {
    max-width: 100%;
    margin-top: 80px;
  }
}

@media (max-width: 520px) {
  .title {
    margin: 40px 0;
    top: 38%;

  }
  .name {
    font-size: 3rem;
  }
  .button {
    top: 48%;
  }
}


